:root {
    --primary-color: #F7F4EF;
    --accent-color: #E8B923;
    --hover-color: #D1A11C;
    --dark-color: #262322;
    --secondary-color: #91B6B2;
    --hover-color-secondary: #49807C;
    --neutral-color: #B8A799;
    --h1-fontsize-deskop: 6rem;
    --h2-fontsize-desktop: 3rem;
    --h3-fontsize-desktop: 1.5rem;
}    

body {
    font-family: 'dynapuff','Crimson Text', 'Roboto Flex', 'Roboto', sans-serif;
    color: var(--dark-color);
    background-color: white; 
}

h1 {
    font-size: var(--h1-fontsize-deskop);
    font-family: 'dynapuff', serif;
}

.navbar {
    background: linear-gradient(20deg, var(--neutral-color), var(--primary-color));
    height: 150px;
}

.container {
    max-width: 100%;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1800px;
    margin: 0 auto;
}