/* Root Variables for Colors */
:root {
    --primary-color: #F7F4EF;
    --accent-color: #E8B923;
    --hover-color: #D1A11C;
    --dark-color: #262322;
    --secondary-color: #91B6B2;
    --neutral-color: #B8A799;
    --h1-fontsize-deskop: 9rem;
    --h2-fontsize-desktop: 6rem;
    --h3-fontsize-desktop: 4rem;
    --paragraph-fontsize-desktop: 2.5rem;
    --bs-body-bg: transparent;
}

body {
    font-family: 'dynapuff','Crimson Text', 'Roboto Flex', 'Roboto', sans-serif;
    color: var(--dark-color);
    background-color: white;
}

.container {
    background: linear-gradient(20deg, var(--neutral-color), var(--primary-color));
    max-width: 100%;
    height: 900px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1800px;
    margin: 0 auto;
    padding: 60px 0 0 0;
    position: relative;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
img {
    height: auto;
  }

.nav a {
    margin: 0 10px;
    text-decoration: none;
    color: var(--dark-color);
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    transition: color 0.5s ease-in-out;
}

.nav a:hover {
    color: var(--dark-color);
    font-weight: 500;
    border-bottom: 3px solid #262322 ;
    transition: color 0.5s ease-in-out;
}

.input-text:focus{
    box-shadow: 0px 0px 0px;
    border-color: var(--dark-color);
}

input.form-control.input-text::placeholder {
    font-family: 'Roboto', sans-serif;
  }

.form-control {
    border: 3px solid #B8A799;
}

.btn-outline-warning {
    --bs-btn-color: var(--dark-color);
    --bs-btn-hover-color: var(--dark-color) ;
    --bs-btn-hover-bg: #F7F4EF;
    --bs-btn-hover-border-color: var(--dark-color);
    border: 3px solid #B8A799;
    --bs-btn-active-color: var(--dark-color);
    --bs-btn-active-bg: #ffc107;
    --bs-btn-active-border-color: var(--dark-color);
    --bs-btn-disabled-color: #ffc107;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #ffc107;
}

.img-wrapper {
    display: block;
    max-width: 2100px;
    margin: 0 auto;
    z-index: 2;
    top: 200px;
    left: 90px;
}

.img-wrapper .img-fluid {
    border-radius: 2.5rem;
}

.img-heading {
    font-size: var(--h1-fontsize-deskop);
}

.hero-paragraph-container {
    margin-top: 500px;
}

a.btn {
    z-index: 4;
    color: var(--dark-color);
}

.img-wrapper  a.btn {
    display: inline;
    margin-top: 0px;
    padding: 30px 60px;
    background-color: var(--accent-color);
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
}

.img-wrapper a.btn:hover {
    background-color: var(--hover-color);
    color: var(--primary-color);
}

.hero-paragraph {
    font-family: 'Roboto', sans-serif;
    font-size: var(--paragraph-fontsize-desktop);
    padding-top: 300px;
}

hr {
    margin-top: 100px;
}

/* About Section */

/* .card-about {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} */

.card-about .btn {
    background-color: var(--secondary-color);
    color: white;
    border: none;
    transition: background-color 0.3s ease;
}

.card-about .btn:hover {
    background-color: var(--hover-color-secondary);
}

h2 {
    font-family: 'Crimson Text', serif;
    font-size: var(--h2-fontsize-desktop);
    padding-top: 100px;
}

.about-wrapper {
    background-color: var(--primary-color);
    display: block;
    max-width: 2100px;
    margin: 0 auto;
    border-radius: 2.5rem;
    position: absolute;
    margin-left: 90px;
    height: 1400px;
}

.btn .btn-secondary {
    position: absolute;
    bottom:-60px;
    left: 50%;
    transform: translateX(-50%);
}

